@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: 0 0% 100%;
    --foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 47.4% 11.2%;

    --primary: 192.65 86.05% 57.84%;
    --primary-foreground: 210 40% 98%;

    --secondary: 207.69 74.52% 30.78%;
    --secondary-foreground: 204.14 66.8% 50.39%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;
  }

body{
    background-color: rgb(241 245 249);
}

@layer components{
  .dashed-area{
    @apply flex flex-col items-center;
  }

  .dashed-area:nth-child(1){
    @apply after:absolute after:content-[''] after:top-1/4 after:left-a2 after:w-48 after:border after:border-dashed after:bg-secondary
      max-[1524px]:after:content-none;
  }

  .dashed-area:nth-child(2){
    @apply after:absolute after:content-[''] after:top-1/4 after:left-a3 after:w-48 after:border after:border-dashed after:bg-secondary
      max-[1524px]:after:content-none;
  }

  .dashed-area:nth-child(3){
    @apply after:absolute after:content-[''] after:top-1/4 after:left-a4 after:w-48 after:border after:border-dashed after:bg-secondary
      max-[1524px]:after:content-none;
  }

  .dashed-area:nth-child(4){
    @apply after:absolute after:content-[''] after:top-1/4 after:left-a5 after:w-48 after:border after:border-dashed after:bg-secondary
      max-[1524px]:after:content-none;
  }

  .dashed-area:nth-child(5){
    @apply after:content-none;
  }
}

@layer utilities{
  .over-overflow-important{
    overflow-x: auto !important;
  }
}